<nav>
    <ul>
        <li><a href="{% url 'Core:home' %}">Home</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'Core:blog-create' %}">Add Blog</a></li>
            <li>Hi {{ request.user.username }}</li>
            <li><a href="{% url 'logout' %}?next={{request.path}}">logout</a></li>            
        {% else %}        
            <li><a href="{% url 'Members:register' %}">register</a></li>
            <li><a href="{% url 'login' %}?next={{request.path}}">login</a></li>
        {% endif %}

    </ul>
</nav>