{% extends 'base.html' %}
{% block title %} {{ object.blog_title_tag }} {% endblock title %}

{% block content %}
      
    <p>{{ object.blog_title|title }}</p>
    <hr>
    <p style="font-size: 70%">{{ object.is_updated|timesince }} - <strong>by: {{ object.blog_author|default_if_none:"Author" }}</strong></p>

    <p>Curront time is {% now "SHORT_DATETIME_FORMAT" %}</p>

    <p>{{ object.blog_body|safe|urlize }}</p>
   
    <a href="{% url 'Core:home' %}"><button type="button">back</button></a>  
    
    {% if request.user.is_authenticated %}
        <a href="{% url 'Core:blog-update' object.pk %}"><button type="button">Update</button></a>
        <a href="{% url 'Core:blog-delete' object.pk %}"><button type="button">Delete</button></a>        
    {% endif %}
        

{% endblock content %}